{% extends 'shop/basic.html' %}

{% block title%} About Us{% endblock %}
{% block body %}




<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Pironaa</h1>
      <p>Pironaa is an Indian e-commerce start-up company.
         We believe in a world where you have total freedom to be you, without judgement.To experiment.
          To express yourself.To be brave and grab life as the extraordinary adventure it is. So we make sure everyone has an equal chance
          to discover all the amazing things ther are capable of - no matter who they are, where they are from or what looks they like to boss.
          We exist to give you the confidence to be whoever you want to be and bring out the platform to get your
          necessities from local sellers beautifully crafted , Made in India.
          Handcrafted in India with idea, love and care for all the buyers,
          we aim to bring out the products from local shops to your door step at an affordable rates.
          Customer Satisfaction is very important for us. We also owns PhonePe, a mobile payments service based on the Unified Payments Interface (UPI).

      </p>
      <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
        <h3> Founder </h3>
        <p> </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>
      <div class="col-md-4">
        <h3>Co-Founder</h3>
        <p>   </p>
        <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
      </div>


    </div>

    <hr>

  </div> <!-- /container -->

</main>





{% endblock %}
